<%- include("partials/header.ejs") %>
<div>
  <h3 class="ms-4 mt-3 text-danger-emphasis">Your Posts</h3>
</div>
<div class="mx-3 my-3">
  <% if (posts.length === 0) { %>
  <div class="col-12 mt-5 text-center">
    <h4 class="text-muted">No posts yet.</h4>
    <p class="text-muted">Create your first fashion post to get started.</p>
    <a
      href="/addBlog"
      id="createPost"
      class="btn btn-light createButton fw-semibold"
      ><i class="bi bi-plus"></i> Create Post</a
    >
  </div>
  <% } else { %>
  <div class="row flex-wrap g-3 mb-3">
    <% posts.forEach(post => { %>
    <div class="col-12 col-lg-6 col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title"><%= post.title %></h4>
          <hr />
          <h6><small><%= post.date %></small></h6>
          <p class="card-text"><%= post.content %></p>
          <h6>Auther: <%= post.author %></h6>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-light"><small>See More...</small></a>
            <div>
              <a href="/editpost/<%= post.id %>" class="btn btn-outline-secondary btn-sm me-1">Edit</a>
              <form
                action="/deletepost/<%= post.id %>"
                method="POST"
                class="d-inline"
              >
                <button type="submit" class="btn btn-outline-danger btn-sm">
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% } %>
</div>

<%- include("partials/footer.ejs") %>
