<%- include("partials/header.ejs") %>
<div class="container mt-4">
  <div class="card shadow">
    <div class="card-body">
      <h4 class="card-title"><%= post.title %></h4>
      <hr />
      <h6><small><%= post.date.toString().split(' GMT')[0] %></small></h6>
      <p class="card-text"><%= post.content %></p>
      <h6>Auther: <%= post.author %></h6>
      <div class="d-flex justify-content-between">
        <a href="/" class="btn btn-light"><small>Back</small></a>
        <div>
          <a
            href="/editpost/<%= post.id %>"
            class="btn btn-outline-secondary btn-sm me-1"
            >Edit</a
          >
          <form
            action="/deletepost/<%= post.id %>"
            method="post"
            class="d-inline"
          >
            <button type="submit" class="btn btn-outline-danger btn-sm">
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
